---
title: 'Analisi dei risultati dei test di AEM Cloud Manager '
description: Esplorare e correggere i risultati dei rapporti di AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Sviluppo
feature: Strumenti per gli sviluppatori
kt: 6917
thumbnail: 330540.jpg
translation-type: tm+mt
source-git-commit: e295d77a11c99310aaae10ecb8a2eaa20ad49285
workflow-type: tm+mt
source-wordcount: '84'
ht-degree: 8%

---


# Analizzare i risultati dei test

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Analizzare i risultati dei test"
>abstract="IExplore eventuali errori di compilazione nel codice e se questo codice segue o meno le best practice per AEM come Cloud Service"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=en#how-to-use" text="Comprendere i risultati del test"

Esplora eventuali errori di compilazione nel codice e verifica se questo codice segue o meno le best practice per AEM come Cloud Service

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)
