---
title: Analizzare i risultati dei test di AEM Cloud Manager
description: Esplorare e correggere i risultati dei rapporti da AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
source-git-commit: b3e9251bdb18a008be95c1fa9e5c79252a74fc98
workflow-type: tm+mt
source-wordcount: '81'
ht-degree: 51%

---

# Analizzare i risultati dei test {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Analizzare i risultati dei test"
>abstract="Scopri eventuali errori di compilazione nel codice e verifica se il codice segue o meno le best practice per AEM as a Cloud Service."
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=it#how-to-use" text="Comprendere i risultati del test"

Esplora eventuali errori di compilazione nel codice e verifica se il codice segue o meno le best practice per AEM as a Cloud Service

>[!VIDEO](https://video.tv.adobe.com/v/330540?quality=12&learn=on)
