---
title: Analisi dei risultati dei test di AEM Cloud Manager
description: Esplorare e correggere i risultati dei rapporti di AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
source-git-commit: bca51ece7a9b249727b8746cc9654503059116fb
workflow-type: tm+mt
source-wordcount: '81'
ht-degree: 4%

---

# Analizzare i risultati dei test {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Analizzare i risultati dei test"
>abstract="IExplore di eventuali errori di compilazione nel codice e se questo codice segue o meno le best practice per AEM as a Cloud Service"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=en#how-to-use" text="Comprendere i risultati del test"

Esplora eventuali errori di compilazione nel codice e verifica se questo codice segue o meno le best practice per AEM as a Cloud Service

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)
