---
title: 'Analisi dei risultati dei test di AEM Cloud Manager '
description: Esplorare e correggere i risultati dei report da AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
translation-type: tm+mt
source-git-commit: 5ac82928d4b0bf75b348a414793c24c3aca92f36
workflow-type: tm+mt
source-wordcount: '42'
ht-degree: 0%

---


# Analisi dei risultati del test

Esplora eventuali errori di compilazione nel codice e verifica se il codice segue o meno le best practice per AEM come Cloud Service

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)